<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <link rel="shortcut icon" href="data:image/xicon;," type="image/xicon">
    <link rel="stylesheet" href="app/assets/css/maxistyles.css">
    <title>Form</title>
</head>
<body ng-app="app">
<form class="form" role="form" ng-controller="addUser">
    <div class="text">Add Item</div>
    <label for="name">Name:</label>   
    <input class = "form" ng-model="user.name" placeholder="Input name" id="name" type="text" name="name" />
    <div class="name_error" id="name_error"></div>
    <label for="email">Email:</label>   
    <input class = "form" ng-model="user.email" placeholder="Your email address" id="email" type="text" name="email" />
    <div class="email_error" id="email_error"></div>
    <label for="phone">Phone:</label> 
    <input class = "form" ng-model="user.phone" placeholder="+375ZZXXXYYYY" id="phone" type="text" name="phone" />
    <div class="phone_error" id="phone_error"></div>
    <button class="btn btn-success" id="post" ng-click="adduser(user)">Add</button>
    <button class="btn btn-primary" id="get" ng-click="getusers()" ng-controller="Users as ctrl">Get Data</button>
</form>
<table class="result" ng-controller="createList as list" ng-show="showTable">
    <thead>
        <tr>
            <td><b>#</b></td>
            <td><b>Name</b></td>
            <td><b>Email</b></td>
            <td><b>Phone</b></td>
            <td><b>Action</b></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in list.users">
            <td>{{$index + 1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
            <td><a href = "" ng-model="user.id" id={{user.id}} ng-click="rmuser(user.id)">Remove</a></td>
        </tr>
    </tbody>
</table>
    <script src="app/assets/libs/angular.min.js"></script>
    <script src="app/components/get/get.module.js"></script>
    <script src="app/components/add/add.module.js"></script>
    <script src="app/components/table/table.module.js"></script>
    <script src="app/app.module.js"></script>

</body>
</html>